html {
    font-size: 62.5%;
}

@media (min-width: 550px){
header .sp_navi {
    display: none;
ã€€}
}

header .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
}

header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .sp_navi_li li a {
    display: block;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-decoration: none;
}

header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 550px) {
header .pc_navi_li li.navi_news a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url(../images/top/navi_news.png);
    background-size: 40px 40px;
 }
}

@media (min-width: 550px) {
header .pc_navi_li li.navi_news a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url(../images/top/navi_news.png);
    background-size: 40px 40px;
 }
}

@media (min-width: 550px) {
header .pc_navi_li li.navi_company a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url(../images/top/navi_company.png);
    background-size: 40px 40px;
 }
}

@media (min-width: 550px)
header .pc_navi_li li a {
    color: #626262;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
    float: left;
    padding-right: 10px;
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

element.style {
    position: absolute;
    top: -10000px;
    height: 0px;
    width: 0px;
}

@media (min-width: 550px){
header #header_in {
    padding: 15px 0 10px 0;
}
}

header {
    background: #eaf2f4;
}

#sub_cover {
    padding: 40px 0;
    background-image: url(../images/news/sub_cover.jpg);
    background-size: cover;
}

@media (min-width: 550px) {
#sub_cover {
    padding: 80px 0;
}
}

@media (min-width: 550px){
#sub_cover h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem;
}
}

@media (min-width: 550px){
#contents {
    padding-top: 35px;
    padding-bottom: 70px;
}
}

@media (min-width: 550px){
#contents #main {
    padding-right: 20px;
}
}

#contents #main h2.company_title {
    margin-bottom: 0px;
}

@media (min-width: 550px){
#contents #main h2 {
    font-size: 20px;
    font-size: 2rem;
    padding-bottom: 20px;
}
}

#contents #main h2 {
    color: #42b9d0;
    border-bottom: 3px solid #42b9d0;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 15px;
}

#contents #main th {
    padding-right: 20px;
}

#contents #main th, #contents #main td {
    padding: 20px 0;
    color: #626262;
    font-size: 14px;
    font-size: 1.4rem;
}

#contents #main td {
    padding: 20px 0;
    color: #626262;
    font-size: 14px;
    font-size: 1.4rem;
}



























#contents #sidebar .pc_sidemenu h3 {
    color: #42b9d0;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    background-color: #f3f9fb;
    padding: 15px;
    margin-bottom: 0px;
}

#contents #sidebar .pc_sidemenu li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: 8px center;
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
    background-image: url(../images/news/side_arrow.png);
    background-size: 4px 8px;
}

#contents #sidebar .pc_sidemenu li a {
    color: #339fd1;
    text-decoration: none;
}

#contents #sidebar {
    padding-bottom: 20px;
}

@media (min-width: 550px){
#contents {
    padding-top: 35px;
    padding-bottom: 70px;
}
}

@media (min-width: 550px){
footer {
    padding-top: 30px;
}
}

footer {
    background-color: #42b9d0;
    color: #fff;
    padding-top: 20px;
}
}

@media (min-width: 550px){
footer .foot_address {
    padding: 0px;
    font-size: 1.2rem;
}
}

@media (min-width: 550px){
footer .foot_navi a {
    color: white;
    padding-left: 10px;
    text-decoration: none;
}
}

@media (min-width: 550px){
footer .foot_navi li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    float: left;
    margin-right: 10px;
    font-size: 11px;
    font-size: 1.1rem;
    background-image: url(../images/top/foot_arroehead.png);
    background-size: 4px 6px;
}
}

@media (min-width: 550px){
footer .foot_navi {
    float: right;
}
}